#sobre-mi {
  padding: 4.75rem 0;
}

#sobre-mi.dark-theme {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.card {
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--light-color);
  box-shadow: 10px 10px 30px -10px var(--dark-color);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  max-width: 300px;
  text-align: center;
}

.card.dark-theme {
  background-color: var(--dark-color);
  border: thin solid var(--dark-light);
}

.card__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 350px;
  border-radius: 5px 5px 0 0;
}

.card__title {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
}

.card__title--secondary {
  font-size: 1.25rem;
}
.about {
  padding: 0 1rem;
}
.about__title {
  margin-bottom: 1rem;
  text-align: center;
}

.about__p {
  font-size: 1.115rem;
  margin: 0.5rem 0;
  line-height: 120%;
}

@media (min-width: 768px) {
  .sobre-mi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .about {
    padding-left: 2rem;
  }
  .card {
    min-width: 300px;
  }
}
