#sobre-mi {
  padding: 4.75rem 2rem;
}
.card {
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--light-color);
  box-shadow: 10px 10px 30px -10px var(--dark-color);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  max-width: 300px;
  text-align: center;
}

.card__img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card__title {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
}

.card__title--secondary {
  font-size: 1.25rem;
}
.about__title {
  margin-bottom: 1rem;
  text-align: center;
}

.about__p {
  font-size: 1.115rem;
  margin: 0.5rem 0;
}

@media (min-width: 992px) {
  #sobre-mi {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 1.5rem;
  }
  .card {
    min-width: 300px;
  }
}
