:root {
  --dark-color: #2d3436;
  --light-color: #f6f6f6;
  --dark-light: #727272;
  --primary-color: #fed330;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-color);
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 992px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

main {
  background-color: var(--light-color);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}
h4 {
  font-size: 1.5rem;
}